<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  <location path="Services/WECPOFxbap.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AccessFromServer.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExplainSetup.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api/JsonRest">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
      Set compilation debug="true" to insert debugging symbols into the compiled page. 
      Because this affects performance, set this value to true only during development.
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <customErrors mode="Off" />
    <!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
          
          
          
          BorPred in 3 modes:
          1. Forms authentication
            - good for public
            - Authentication mode Forms
            - UI access to authenticated users and local server
            - PS access to authenticated users and local server
          
          2. Windows authentication
            - good for intranet
            - Authentication mode Windows
            - PS access to authenticated users and local server
            - UI access to authenticated users
            
            
          // 
          
          
          
    -->
    <authorization>
      <!-- Allow all users 
      <allow users="*"/>
      -->
      <!-- deny access to all anonymous access
    -->
      <deny users="?" />
    </authorization>
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. 
          Possible modes are "Windows", "Forms", "Passport" and "None"
    -->
    <!--- Alternative authentication mode
    <authentication mode="Windows"/>
    <authentication mode="None"/>
-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <!-- Configures keys to use for encryption and decryption of Forms 
         authentication cookie data and view-state data and for 
         verification of out-of-process session state identification.
         Please refer to the .net sdk help for more details-->
    <machineKey validationKey="ABCDABCDABCDABCDABCDABCDABCDABCDABCDABCDABCDABCDABCDABCDABCDABCD" />
    <!-- Eco Membership provider -->
    <!-- valid values for passwordFormat are: "Clear", "Encrypted", "Hashed"
         if the format "Hashed" is used, you should set enablePasswordRetrieval to "false"
    -->
    <membership defaultProvider="EcoMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="EcoMembershipProvider" type="Eco.Web.AspProviders.EcoMembershipProvider" EcoSpaceTypeName="AppCompleteGeneric.admin.AppCompleteAdminEcoSpaceForProviderNoWCF" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <!-- -->
    <!-- Eco RoleProvider
      When we want our own roles
-->
    <roleManager defaultProvider="EcoRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="EcoRoleProvider" applicationName="/" type="Eco.Web.AspProviders.EcoRoleProvider" EcoSpaceTypeName="AppCompleteGeneric.admin.AppCompleteAdminEcoSpaceForProviderNoWCF" />
      </providers>
    </roleManager>
    <!-- windows roles    
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider"/>
-->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!-- Eco SessionStateStoreProvider -->
    <!--
    <sessionState mode="Custom" customProvider="EcoSessionProvider">
      <providers>
        <add name="EcoSessionProvider"
          type="Eco.Web.AspProviders.EcoSessionStateStoreProvider"
          EcoSpaceTypeName="AppCompleteGeneric.AppCompleteAdminEcoSpace" />
      </providers>
    </sessionState>
    -->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- 
      Configures ASP.NET HTTP runtime settings
      maxRequestLength: Indicates the maximum file upload size supported by 
                        ASP.NET. This limit can be used to prevent denial of 
                        service attacks caused by users posting large files to 
                        the server. The size specified is in kilobytes. 
                        The ASP.NET default is 4096 KB (4 MB). 
      executionTimeOut: Indicates the maximum number of seconds that a request 
                        is allowed to execute before being automatically shut 
                        down by ASP.NET.
      
      These numbers may need adjusting depending on your server load.
    -->
    <httpRuntime maxRequestLength="102400" executionTimeout="300" targetFramework="4.5" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <!--  APPLICATION SETTINGS
        Setting MaxPool to >0 will enable pooling.
        Pooled Ecospaces will be discarded when they reach MaxAge seconds
  -->
  <appSettings>
    <add key="Eco.Web.MaxPool" value="5" />
    <add key="Eco.Web.MaxAge" value="600" />
    <add key="EcoAspProvider.EcoSpaceTypeName" value="AppCompleteGeneric.admin.AppCompleteAdminEcoSpaceForProviderNoWCF" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
  </appSettings>
  <system.serviceModel>
    <client>
      <!-- used when server calls itself-->
      <endpoint name="AppCompleteGeneric.AppCompleteGenericPMPWCF" binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.A0_PMPWCF" binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.A1_PMPWCF" binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.A2_PMPWCF" binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.AppCompleteGenericPMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.A0_PMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.A1_PMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
      <endpoint name="AppCompleteGeneric.A2_PMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
    </client>
    <!-- if aspNetCompatibilityEnabled is on, then CustomWCFUserValidation is not called-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" minFreeMemoryPercentageToActivateService="1" />
    <services configSource="App_Data\\WebServices_ActualWFC.Config" />
    <!-- configSource="Webservices_WithSSl.config"  or configSource="Webservices_NoSSl.config"  -->
    <bindings>
      <wsHttpBinding>
        <binding name="BindingConfig_withssl" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" receiveTimeout="00:10:00" sendTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <!-- <security mode="None"/> -->
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BindingConfig_nossl" maxBufferSize="104857600" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" receiveTimeout="00:10:00" sendTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600" />
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AppCompleteGeneric.Services.ServiceExcelAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="clientBehavior">
          <clientCredentials>
            <!--
            <windows allowNtlm="true" >
            </windows>-->
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AppCompleteGenericPMPWCFBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AppCompleteGeneric.admin.CustomWCFUserValidation,AppCompleteGeneric.PServerIis" />
          </serviceCredentials>
          <!-- -->
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ModelDocAndChecksumAspNetAjaxBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <!-- Simple Handler -->
      <add name="GetImage" verb="*" path="GetImage.ashx" type="Eco.Web.GetImage, Eco.Web" />
      <add name="GetPicture" verb="*" path="GetPicture.ashx" />
      <add name="GetWorkImage" verb="*" path="admin/GetWorkImage.ashx" type="AppCompleteGeneric.admin.GetWorkImage, AppCompleteGeneric.PServerIis" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".execonfig" mimeType="application/xaml+xml" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- Allow upload of large import files-->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- Uncomment and set Filepath to trace WCF communication 


<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"             
              switchValue="Information, ActivityTracing"             
              propagateActivity="true">
        <listeners>
          <add name="traceListener"             
               type="System.Diagnostics.XmlWriterTraceListener"             
               initializeData="c:\temp\WCFTracelogZX1.log"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
 -->
  <log4net debug="false">
    <appender name="RollingFileAppenderERRORS" type="log4net.Appender.RollingFileAppender">
      <file value="BorPredLogRollingERRORS.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppenderDEBUG" type="log4net.Appender.RollingFileAppender">
      <file value="BorPredLogRollingDEBUG.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="RollingFileAppenderERRORS" />
      <appender-ref ref="RollingFileAppenderDEBUG" />
    </root>
    <category name="my.category">
      <priority value="DEBUG" />
    </category>
  </log4net>
</configuration>