<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>

  <system.serviceModel>
    <client>
      <!-- used when calling server-->
      <endpoint name="AppCompleteGeneric.AppCompleteGenericPMPWCF" binding="wsHttpBinding" bindingConfiguration="secureHttpBinding" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>
      <endpoint name="AppCompleteGeneric.A0_PMPWCF" binding="wsHttpBinding" bindingConfiguration="secureHttpBinding" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>
      <endpoint name="AppCompleteGeneric.A1_PMPWCF" binding="wsHttpBinding" bindingConfiguration="secureHttpBinding" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>
      <endpoint name="AppCompleteGeneric.A2_PMPWCF" binding="wsHttpBinding" bindingConfiguration="secureHttpBinding" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>

      <endpoint name="AppCompleteGeneric.AppCompleteGenericPMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>
      <endpoint name="AppCompleteGeneric.A0_PMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>
      <endpoint name="AppCompleteGeneric.A1_PMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>
      <endpoint name="AppCompleteGeneric.A2_PMPWCF_nossl" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF"/>

    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="secureHttpBinding" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600"/>
          <!-- <security mode="None"/> -->
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>

        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="basicHttpBinding_nossl" maxBufferSize="104857600" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600"/>
          <security mode="None"/> 

        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
