<?xml version="1.0"?>
<services>
  <!-- services exoposed by the server-->
  <service name="AppCompleteGeneric.A0_PMPWCF" behaviorConfiguration="AppCompleteGenericPMPWCFBehavior">
    <endpoint binding="wsHttpBinding"  bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
    <endpoint binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF"  />
  </service>
  <service name="AppCompleteGeneric.A1_PMPWCF" behaviorConfiguration="AppCompleteGenericPMPWCFBehavior">
    <endpoint binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
    <endpoint binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
  </service>
  <service name="AppCompleteGeneric.A2_PMPWCF" behaviorConfiguration="AppCompleteGenericPMPWCFBehavior">
    <endpoint binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
    <endpoint binding="basicHttpBinding"  bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
  </service>
  <service name="AppCompleteGeneric.AppCompleteGenericPMPWCF" behaviorConfiguration="AppCompleteGenericPMPWCFBehavior">
    <endpoint binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="Eco.Wcf.Common.IPersistenceMapperWCF"  />
    <endpoint binding="basicHttpBinding"  bindingConfiguration="BindingConfig_nossl" contract="Eco.Wcf.Common.IPersistenceMapperWCF" />
  </service>
  <service name="AppCompleteGeneric.ServiceAdmin" behaviorConfiguration="AppCompleteGenericPMPWCFBehavior">
    <endpoint binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="AppCompleteGeneric.IServiceAdmin" />
    <endpoint binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="AppCompleteGeneric.IServiceAdmin" />
  </service>
  <service name="AppCompleteGeneric.Services.ServiceExcel">
    <endpoint address="" behaviorConfiguration="AppCompleteGeneric.Services.ServiceExcelAspNetAjaxBehavior" binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="AppCompleteGeneric.Services.ServiceExcel" />
    <endpoint address="" behaviorConfiguration="AppCompleteGeneric.Services.ServiceExcelAspNetAjaxBehavior" binding="basicHttpBinding" bindingConfiguration="BindingConfig_nossl" contract="AppCompleteGeneric.Services.ServiceExcel" />
  </service>
  <service name="AppCompleteGeneric.Services.ModelDocAndChecksum" behaviorConfiguration="AppCompleteGenericPMPWCFBehavior">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="BindingConfig_withssl" contract="AppCompleteGeneric.Services.ModelDocAndChecksum" />
    <endpoint address="" bindingConfiguration="BindingConfig_nossl" binding="basicHttpBinding" contract="AppCompleteGeneric.Services.ModelDocAndChecksum" />
  </service>
</services>
